.menu-container {
    background-color: #ffffff;
    /* min-height: 100vh; */
    overflow-y: scroll;
    width: 80vw!important;
    position: fixed;
    right: 0;
}

.menu-header {
    height: 8rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
}

.menu-header .cancel {
    font-size: 2.6rem;
    color: #4392e3;
}

.menu-header .title {
    font-size: 3.6rem;
    text-align: center;
}

.container-fluid {
    padding-right: 4rem;
    padding-left: 4rem;
}

.bnt-s {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    border-bottom: 0.1rem solid #d3d3d3;
}

.bnt-s button {
    font-size: 3rem;
    color: #f6fbfb;
    background-image: -webkit-gradient(linear, left top, right top, from(#28cbd5), to(#5debdc));
    background-image: -webkit-linear-gradient(left, #28cbd5, #5debdc);
    background-image: -o-linear-gradient(left, #28cbd5, #5debdc);
    background-image: linear-gradient(to right, #28cbd5, #5debdc);
    height: 7rem;
    width: 30rem;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5rem;
}

.data,
.account,
.support,
.logout {
    padding: 1rem 0;
}

.account {
    border-bottom: 0.1rem solid #d3d3d3;
}

.menu {
    font-size: 3rem;
    color: #555555;
    padding: 1.5rem 0;
    height: 7rem;
}

.menu span {
    float: right;
}

.support {
    border-bottom: 0.1rem solid #d3d3d3;
}

.data {
    border-bottom: 0.1rem solid #d3d3d3;
}

.logout {
    padding: 1.5rem 0 1.5rem 0;
    border-bottom: 0.1rem solid #d3d3d3;
}

.menu-container .left-arrow-ic {
    width: 2.7rem;
    height: 2.7rem;
}

.menu-container .right-arrow-ic {
    width: 1.4rem;
    height: 2.6rem;
}