#mail_pass {
    padding-bottom: 5rem;
    font-weight: normal;
}
#mail_pass .mail_pass_header{
    display: flex;
    align-items: center;
    padding: 2rem 4rem 2rem 2rem;
    border-bottom: 0.1rem solid #d3d3d3;
}

#mail_pass .cancel  img{
    width: 2rem;
    height: 3.6rem;
}
#mail_pass .title{
    font-size: 3.6rem;
    color: #1a1406;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

#mail_pass .cap{
    padding: 4.5rem 4rem 2.2rem 4rem;
    font-size: 2.8rem;
    color: #999999;
    border-bottom: 0.1rem solid #f3f3f3;
    background-color: #fcfcfc;
}
#mail_pass .field{
    padding: 2rem 4rem 0 4rem;
}
#mail_pass .mailadress .form-control{
    border: none;
    border-bottom: 0.3rem solid #e8e7e6;
    box-shadow: none;
    color: #555555;
    border-radius: 0;
    padding: 0;
}
#mail_pass .mailadress .text{
    font-size: 2.8rem;
    color: #666666;
    padding: 4.8rem 4rem 6rem 4rem;
    border-bottom: 0.1rem solid #d3d3d3;
}

#mail_pass .password .field{
    padding: 2rem 4rem 0 4rem;
}
#mail_pass .password .form-control{
    height: 10rem;
    border: none;
    border-bottom: 0.3rem solid #e8e7e6;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}
#mail_pass .password .form-control::placeholder {
    color: #cccccc;
}
#mail_pass .form-control:focus {
    border-bottom: 0.2rem solid #00b1c3;
    box-shadow: none;
}
#mail_pass .password .text{
    font-size: 2.8rem;
    color: #555555;
    padding: 4.8rem 4rem 6rem 4rem;
    border-bottom: 0.1rem solid #d3d3d3;
}
#mail_pass .password .form-control-feedback{
    bottom: 2.8rem;
    top: auto;
}
#mail_pass .password .form-control-feedback img{
    width: 3.4rem;
    height: 3.4rem;
}

#mail_pass .help{
    font-size: 2.6rem;
    color: #4392e3;
    padding-top: 2.5rem;
}
#mail_pass .help span{
    padding-right: 1.5rem;
}
#mail_pass .help img{
    width: 4.8rem;
    height: 4.7rem;
}
#mail_pass .btn-m button{
    font-size: 3.4rem;
    color: #fff;
    height: 9.4rem;  
    border: none;
    border-radius: 10rem;
    width: 56rem;
}
#mail_pass .btn-m{
    text-align: center;
    padding:6rem 8rem 0 8rem;
}
#mail_pass .btn-m button{
    background-image: linear-gradient(to right, #28cbd5 , #5ceadc);
}

#mail_pass .form-group {
    position: relative;
}