#calendarSetting .header{
    height: 36rem;
    padding:3.5rem 4rem 0 4rem;
    background-image: url(../../../icons/img_header.png) ;
    position: relative;
    background-position: center;
    background-attachment: initial;
    background-size: cover;
}
#calendarSetting .header .cancel{
    font-size: 2.6rem;
    color: #4392e3;
    position: absolute;
    top: 3.5rem;
}
#calendarSetting .header .cancel img{
    width: 2rem;
    height: 3.6rem;
}
#calendarSetting .header .title{
    font-size: 3.6rem;
    text-align: center;
    color: #fefefe;
    position: absolute;
    bottom: 4.7rem;
}


#calendarSetting .container-fluid{
    padding-right: 4rem;
    padding-left: 4rem; 
}
#calendarSetting .user{
    padding-top: 3rem;
    display: flex;
}
#calendarSetting .user .user-icon img{
    width: 7.2rem;
    height:7.2rem;
}
#calendarSetting .user .name{
    font-size: 2.6rem;
    color: #444444;
    padding-top: 1rem;
    padding-left: 2.2rem;
}
#calendarSetting .user .name p{
    font-size: 2.2rem;
    color: #bbbbbb;
    margin-top: -0.5rem;

}

#calendarSetting .edit{
    font-size: 3rem;
    color: #555555;
    position: relative;
    display: flex;
    align-items: center;
    padding: 6rem 4rem 4.5rem 4rem; 
    border-bottom: 1px solid #d3d3d3;
}
#calendarSetting .edit .ic_edit{
    width: 4.9rem;
    height: 4.7rem;
    margin-right: 3rem;
}
#calendarSetting .edit .arrow{
    position: absolute;
    right: 4rem;
    width: 1.4rem;
    height: 2.6rem;
}


#calendarSetting .color{
    font-size: 3rem;
    color: #555555;
    position: relative;
    display: flex;
    border-bottom: 1px solid #d3d3d3;
    align-items: center;
    padding: 4rem; 
}
#calendarSetting .color .ic_color{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 4.7rem;
    margin-left: 1rem;
}
#calendarSetting .color .arrow{
    position: absolute;
    right: 4rem;
    width: 1.4rem;
    height: 2.6rem;
}

#calendarSetting .alarm{
    padding: 4rem  ;
}
#calendarSetting .alarm .title{
    color:#999999;
    font-size: 3rem;
}
#calendarSetting .alarm .menu{
    padding-top: 4rem;
    position: relative;
    display: flex;
    align-items: center;
}
#calendarSetting .alarm .menu .ic_edit{
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 3rem;
}
#calendarSetting .alarm .menu .arrow{
    position: absolute;
    right: 0rem;
    width: 1.4rem;
}
