#PasswordReissue {
    height: 104rem!important;
}

#PasswordReissue .cancel {
    padding: 0 !important;
}

#PasswordReissue .cancel button {
    text-align: left;
    background-color: #fff;
    padding-top: 0rem;
    height: auto;
    border: none;
}

#PasswordReissue .logo {
    padding-top: 8rem;
    text-align: center;
}

#PasswordReissue .field {
    padding-top: 6.5rem;
}

#PasswordReissue .form-control {
    height: 10rem;
    border: none;
    border-bottom: 0.1rem solid #e8e7e6;
    box-shadow: none;
}

#PasswordReissue .form-control::placeholder {
    font-size: 3.2rem;
    color: #cccccc;
}

#PasswordReissue .form-control:focus {
    border-bottom: 0.3rem solid #00b1c3;
    box-shadow: none;
}

#PasswordReissue .help {
    font-size: 2.6rem;
    color: #4392e3;
    padding-top: 0.5rem;
}

#PasswordReissue .help span {
    padding-right: 1.5rem;
}

#PasswordReissue button {
    font-size: 3.6rem;
    color: #fff;
    height: 9.4rem;
    border: none;
    border-radius: 10rem;
    width: 100%;
}

#PasswordReissue .btn-m {
    text-align: center;
    padding: 6rem 8rem 0 8rem;
    margin-top: 5rem;
}

#PasswordReissue .btn-m button {
    background-image: linear-gradient(to right, #28cbd5, #5ceadc);
    border: none;
    box-shadow: none;
}

#PasswordReissue .content {
    text-align: center;
    font-size: 3.2rem;
    color: #555555;
    padding: 8.8rem 8rem 0 8rem;
}

#PasswordReissue .title {
    font-weight: 600;
    font-size: 3.6rem;
    color: #1a1406;
    text-align: center;
    font-weight: 600;
    padding-top: 5.5rem;
}

#PasswordReissue .PasswordReissue-content {
    position: absolute;
    top: 14rem;
    width: 100%;
    left: 0;
}