.schedule-detail .schedule-detail-header{
    height: 100rem;
    padding: 0 40rem;
    display: flex;
    align-items: center;
}

.schedule-detail .schedule-detail-header .cancel{
    font-size: 26rem;
    color: #4392e3;
}

.schedule-detail .schedule-detail-header .title{
    font-size: 36rem;
    text-align: center;
}

.schedule-detail .schedule-detail-header .menu   {
    text-align: right;
}

.schedule-detail .container-fluid{
    padding-right: 40rem;
    padding-left: 40rem;
}

.schedule-detail .card_schedule .schedule{
    border-top: 1rem solid #cccccc;
    padding: 30rem 0 32rem 0;
}
.schedule-detail .card_schedule .schedule .content{
    font-size:  30rem;
    color: #555555;
    padding-left: 40rem;
    margin-top: 20rem;
    border-left: 4rem solid #28cbd5;
    overflow: hidden;
}
.schedule-detail .card_schedule .schedule .content .date{
    font-size: 44rem;
    color: #333333;
    display: flex;
    align-items: center;
    padding-top: 20rem;
}
.schedule-detail .card_schedule .schedule .content .date .from{
    padding-right: 15rem;
}
.schedule-detail .card_schedule .schedule .content .date > img{
    width: 14rem;
    height: 42rem;
}
.schedule-detail .card_schedule .schedule .content .date .to{
    padding-left: 20rem;
}
.schedule-detail .card_schedule .schedule .content .date span{
    font-size: 30rem;
}
.schedule-detail .card_schedule .schedule .blue{
    color: #5e95d4;
}
.schedule-detail .card_schedule .schedule .red{
    color: #e14a56;
}
.schedule-detail .card_schedule .schedule .gray{
    color: #999999;
}

.schedule-detail .card_schedule .schedule .content .house{
    font-size: 32rem;
    color: #999999;
    padding-top: 20rem;
}
.schedule-detail .card_schedule .schedule .content .house span{
    font-size: 24rem;
}

.schedule-detail .card_schedule .slider .carousel-indicators {
    bottom: -60rem;
}

.schedule-detail .card_schedule .slider .carousel-indicators li{
    background-color: #e3e3e3;
    width: 14rem;
    height: 14rem;
    border: none;
    margin: 1rem 8rem;
}

.schedule-detail .card_schedule .slider .carousel-indicators .active{
    background-color: #666666;
}

.schedule-detail .card_schedule .user{
    padding-top: 98rem;
    border-bottom: 1rem solid #e9e9e9;
    padding-bottom: 20rem;
}
.schedule-detail .card_schedule .user .user_icon {
    margin-right: -15rem;
}

    .schedule-detail .card_schedule .user .user_icon img{
    width: 72rem;
    height: 72rem;
}


.schedule-detail .card_schedule .user .row{
    display: flex;
    align-items: center;
}

.schedule-detail .card_schedule .user .name{
    font-size: 26rem;
    color: #444444;
}

.schedule-detail .card_schedule .user .nick{
    font-size: 22rem;
    color: #bbbbbb;
}

.schedule-detail .card_schedule .private{
    font-size: 22rem;
    color: #555555;
    text-align: right;
}
.schedule-detail .card_schedule .private img{
    width: 36rem;
    height: 36rem;
}
.schedule-detail .card_schedule .private span{
    padding-left: 13rem;
}

.schedule-detail .card_schedule .prince_icon{
    font-size: 32rem;
    /* border-bottom: 1rem solid #e9e9e9; */
}
.schedule-detail .card_schedule .prince_icon img{
    width: 47rem;
    height: 48rem;
}

.schedule-detail .card_schedule .prince_icon .prince{
    color: #e14a56;
}

.schedule-detail .card_schedule .prince_icon .row{
    padding-top: 30rem;
    display: flex;
    align-items: center;
    width: 100%;
}
.schedule-detail .cv {
    padding-top: 40rem;
}

.schedule-detail .cv .cv_bnt{
    text-align: center;
}
.schedule-detail .cv .cv_bnt img{
    height: 48rem;
    width: 48rem;
}
.schedule-detail .cv .cv_bnt button{
    margin-top: 20rem;
    font-size: 34rem;
    color: #fff;
    height: 95rem;
    width: 650rem;
    border:none;
    box-shadow: none;
    background-color: #57e7db;
    border-radius: 50rem;
}
.schedule-detail .cv .cv_bnt button span{
    padding-right: 10rem;
}
.schedule-detail .cv .cv_bnt2 button{
    border: 2rem solid #57e7db;
    background-color: #fff;
    color: #57e7db;
}

.schedule-detail .entry{
    padding-top: 55rem;
    text-align: center;
    padding-bottom: 45rem;
}


.schedule-detail .entry .title{
    font-size: 28rem;
    color: #444444;
}
.schedule-detail .entry .list .row{
    padding-top: 40rem;
    justify-content: space-around;
    display: flex;
    width: 100%;
}
.schedule-detail .entry .list .list_item{
    padding-top: 15rem;
    font-size: 22rem;
    color: #555555;
}
.schedule-detail .entry .list .ic_list_item{
    width: 96rem;
    height: 96rem;
}


.schedule-detail .more{
    padding-top: 65rem;
    font-size: 28rem;
    color: #555555;
    text-align: justify;
    padding-bottom: 60rem;
    border-top: 1rem solid #d3d3d3;
}
.schedule-detail .more .more_1{
    text-align: center;
    padding-top:60rem;
    padding-bottom:90rem;
}
.schedule-detail .more .more_1 img{
    width: 176rem;
    height: 25rem;
}
.schedule-detail .more .text{
    font-size: 28rem;
    color: #4392e3;
}


.schedule-detail .place{
    padding-top: 30rem;
    padding-bottom: 60rem;
    border: 1rem solid #d3d3d3;
}
.schedule-detail .place .cap{
    font-size: 30rem;
    color:#999999;
}
.schedule-detail .place .text1{
    font-size: 28rem;
    color:#444444;
    padding-top: 78rem;
}
.schedule-detail .place .img_map{
    height: 180rem;
    width: 100%;
}
.schedule-detail .place .text2{
    font-size: 26rem;
    color:#999999;
    padding-top: 30rem;
    padding-bottom: 20rem;
}
.schedule-detail .place .pin{
    font-size: 28rem;
    color:#4392e3;
    padding-top: 33rem;
}
.schedule-detail .place .pin span{
    padding-right: 20rem;
}
.schedule-detail .place .pin span img{
    width: 48rem;
    height: 48rem;
}
.schedule-detail .link {
    padding-top: 30rem;
    padding-bottom: 60rem;
    border: 1rem solid #d3d3d3;
}
.schedule-detail .link .cap{
    font-size: 30rem;
    padding-top: 48rem;
    color: #999999;
}
.schedule-detail .link .text{
    font-size: 28rem;
    color: #4392e3;
    padding-top: 40rem;
}
.schedule-detail .link .text span{
    padding-right: 27rem;
}
.schedule-detail .link .text span img{
    width: 35rem;
    height: 35rem;
}

.schedule-detail #user {
    padding-top: 30rem;
    padding-bottom: 60rem;
    border: 1rem solid #d3d3d3;
}
.schedule-detail #user .cap{
    color:999999;
    font-size: 30rem;
}
.schedule-detail #user .card_user{
    padding-top: 68rem;
}
.schedule-detail #user .card_user .user_name img{
    width: 142rem;
    height: 142rem;

}
.schedule-detail #user .card_user .user_name img{
    width: 100%;
}
.schedule-detail #user .card_user .inner{
    display: flex;
    align-items: center;
    font-size: 32rem;
    color: #999999;
    padding-top: 34rem;
}
.schedule-detail #user .card_user .inner span img{
    width: 46rem;
    height: 47rem;
}
.schedule-detail #user .card_user .inner span{
    padding-right: 10rem;
    padding-left: 40rem;
}
.schedule-detail #user .card_user .inner .fan{
    padding-left: 0rem;
}
.schedule-detail #user .card_user .name1{
    font-size: 30rem;
    color:#444444;
}
.schedule-detail #user .card_user .name2{
    font-size: 24rem;
    color: #bbbbbb;
}
.schedule-detail #user .cv_bnt{
    text-align: center;
}
.schedule-detail #user .cv_bnt button{
    margin-top: 40rem;
    font-size: 34rem;
    color: #fff;
    height: 70rem;
    width: 380rem;
    border:none;
    box-shadow: none;
    background-color: #57e7db;
    border-radius: 50rem;
}


.schedule-detail .comment {
    padding-top: 30rem;
    padding-bottom: 60rem;
    border: 1rem solid #d3d3d3;
}
.schedule-detail .comment .cap{
    font-size: 30rem;
    color: #999999;
}
.schedule-detail .comment .cap .ic_comment{
    text-align: right;
}
.schedule-detail .comment .cap .ic_comment img{
    padding-right: 10rem;
    width: 60rem;
    height: 43rem;
}
.schedule-detail .comment .form-control-start {
    position: absolute;
    left: 40rem;
    z-index: 2;
    display: block;
    width: 34rem;
    height: 34rem;
    line-height: 34rem;
    text-align: center;
    pointer-events: none;
    top: 15rem;
}
.schedule-detail .comment .form-control-start img{
    width: 38rem;
    height: 31rem;
}
.schedule-detail .comment .form-control-feedback{
    top:15rem;
    right: 40rem;
}
.schedule-detail .comment .form-control-feedback img{
    width: 37rem;
    height: 37rem;
}
.schedule-detail .comment .form-control{
    height: 66rem;
    border-radius: 50rem;
    padding: 0 95rem;
    font-size: 28rem;
    color:#444444;
    background-color: #eaeaea;
}
.schedule-detail .comment .form-group{
    font-size: 24rem;
    color:#444444;
    padding: 25rem 0;
}
.schedule-detail .comment .user {
    margin-top: 30rem;
}
.schedule-detail .comment .user img{
    width: 72rem;
    height: 72rem;
}
.schedule-detail .comment .user .comment_item{
    padding: 25rem 34rem 34rem 34rem;
    border: 2rem solid #dddddd;
    border-radius: 25rem;

}
.schedule-detail .comment .user .comment_item .name{
    font-size: 26rem;
    color: #444444;
    font-weight: 500;
}
.schedule-detail .comment .user .comment_item .date{
    font-size: 22rem;
    color: #999999;
    text-align: right;
}
.schedule-detail .comment .user .comment_item .content{
    font-size: 28rem;
    color: #555555;
    padding-top: 33rem;
    text-align: justify;
}
.schedule-detail .comment .more2{
    text-align: center;
    padding-top: 25rem;
}
.schedule-detail .comment .more2 img{
    width: 175rem;
    height: 25rem;
}
.schedule-detail .slider .prince_icon{
    padding: 0;
}

.schedule-detail .prince_icon{
    font-size: 32rem;
    padding: 25rem 0;
}
.schedule-detail .prince_icon img{
    width: 46rem;
    height: 46rem;
}
.schedule-detail .prince_icon .prince{
    color: #e14a56;
}
.schedule-detail .prince_icon > .row{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1rem solid #e9e9e9;
    padding-bottom: 30rem;

}

.schedule-detail .cv_bnt_l{
    text-align: center;
    padding: 48rem 0;
}
.schedule-detail .cv_bnt_l button{
    margin-top: 20rem;
    font-size: 34rem;
    color: #fff;
    height: 95rem;
    width: 650rem;
    border:none;
    box-shadow: none;
    background-color: #57e7db;
    border-radius: 50rem;
}
.schedule-detail .cv .cv_bnt button span{
    padding-right: 10rem;
}

.schedule-detail .recommended {
    border-bottom: 1rem solid #d3d3d3;
    padding-bottom: 60rem;
}

.schedule-detail .recommended-close {
    border-bottom: 0;
    padding-bottom: 0;
}

.schedule-detail .recommended .cap {
    height: 110rem;
    display: flex;
    align-items: center;
    padding: 0 40rem;
    border-bottom: 1rem solid #d3d3d3;
}

.schedule-detail .recommended .cap div {
    font-size: 32rem;
    color: #666666;
    margin-left: 20rem;
    flex: 1;
}
.schedule-detail .recommended .cap .ic_alart{
    width: 46rem;
    height: 46rem;
}
.schedule-detail .calendar-detail .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    width: 100%;
    height: 360rem !important;
}