.home .main-slide {
  height: 50rem;
  border-bottom: 0.1rem solid #d3d3d3;
}

.home .slide {
  height: 50rem;
}

.home .slide img {
  width: 100vw;
  height: 41rem;
}

.home .calendarArea {
  border-bottom: 0.1rem solid #d3d3d3;
  height: 46.5rem;
  padding-top: 3rem;
}

.home .calendarArea .cap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 4rem;
  height: 4.8rem;
  font-size: 3.2rem;
  color: #666666;
}

.home .calendarArea .cap img {
  margin-right: 2rem;
}

.home .calendarArea .search-form {
  flex-direction: row;
  height: 6.7rem;
  background-color: #eaeaea;
  border-radius: 3rem;
  margin: 0 4rem;
  padding: 0 3rem;
  display: flex;
  align-items: center;
}

.home .calendarArea .search-form input {
  border: 0;
  background-color: #eaeaea;
  width: 100%;
  font-size: 2.8rem;
  padding: 0 3rem;
}

.home .calendarArea .calendar {
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home .calendarArea .location {
  display: flex;
  flex-direction: row;
  height: 16.5rem;
  align-items: center;
  justify-content: center;
}

.home .calendarArea .location span {
  margin-left: 2rem;
  color: #00b1c3;
  font-size: 2.6rem;
}

.home .recommended-close {
  border-bottom: 0;
  padding-bottom: 0;
}

.home .recommended .cap {
  height: 11rem;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  border-bottom: 0.1rem solid #d3d3d3;
}

.home .recommended .cap div {
  font-size: 3.2rem;
  color: #666666;
  margin-left: 2rem;
  flex: 1;
}

.home .cap .search-ic {
  width: 4.8rem;
  height: 4.8rem;
}

.home .search-form .search-ic {
  width: 3.2rem;
  height: 3.2rem;
}

.home .search-form .delete-ic {
  width: 3.2rem;
  height: 3.2rem;
}

.home .location .location-ic {
  width: 4.7rem;
  height: 4.8rem;
}

.home .recommended .recommended-ic {
  width: 4.1rem;
  height: 4.8rem;
}
.home .recommended .close-ic {
  width: 3.2rem;
}

.home .recommended .fan-ic {
  width: 4.6rem;
  height: 4.7rem;
}

.home .recommended .open-ic {
  width: 3.2rem;
  height: 3.2rem;
}

.home .recommended .alert-ic {
  width: 4.6rem;
  height: 4.8rem;
}

.home .list-content {
  border-bottom: 0.1rem solid #d3d3d3;
  /* padding-bottom: 60rem; */
}

.home .list-content:last-child{
  border-bottom: none;
}

.home .arrow-right-ic {
  width: 2.4rem;
  height: 2.8rem;
}

.slider-control-bottomcenter{
  line-height: 9rem;
  display: flex;
  justify-content: end;
  height: 9rem;
}

.slider-control-bottomcenter ul li button{
  font-size: 4.2rem!important;
}