#recUserList{
    padding: 0 4rem 5rem 4rem;
}

#recUserList .search_header .title{
    font-size: 3rem;
    margin-left: 20rem;
    font-weight: bold;
}
#recUserList .search{
    padding-top: 3rem;
}

