#notice .notice_header{
    height: 100rem;
    display: flex;
    align-items: center;
    padding:34rem 40rem 32rem 40rem;
    border-bottom: 1px solid #d3d3d3; 
}

#notice .notice_header .cancel{
    font-size: 26rem;
    color: #4392e3;
}

#notice .notice_header .title{
    font-size: 36rem;
    color: #1a1406;
    text-align: center;
}
#notice .notice_header .exit{
    text-align: right;
    padding-right: 0rem;
}
#notice .notice_header .exit img{
    width: 43rem;
    height: 36rem;
}

#notice .notice_content{
    padding-bottom: 50rem;
}
#notice .notice_content .notice_items{
    border-bottom: 1px solid #d3d3d3;
    padding: 20rem 0;
}
#notice .notice_content .notice_items .time{
    font-size: 24rem;
    color: #999999;
}
#notice .notice_content .notice_items .user{
    padding-top: 22rem;
    display: flex;
}
#notice .notice_content .notice_items .user .user_icon{
    padding-right: 22rem;
}
#notice .notice_content .notice_items .user .user_icon img{
    width: 49rem;
    height: 49rem;
}
#notice .notice_content .notice_items .user .user_content{

}
#notice .notice_content .notice_items .user .user_content .user_name{
    font-size: 26rem;
    color: #333333;
    padding-top: 10rem;
}
#notice .notice_content .notice_items .user .user_content .user_name span{
    color: #555555;
}
#notice .notice_content .notice_items .user .user_content .calander{
    font-size: 30rem;
    color: #555555;
    padding-top: 40rem;
    display: inline-flex;
}
#notice .notice_content .notice_items .user .user_content .calander img{
    width: 46rem;
    height: 47rem;
    margin-right: 26rem;
}

#notice .notice_content .notice_items .user .user_content .date,
/* #notice .notice_content .notice_items1 .user .user_content .date, */
#notice .notice_content .notice_items3 .user .user_content .date{
    color: #333333;
    font-size: 44rem ;
    display: inline-flex;
    padding-top: 25rem;
    font-size: 30rem;
    align-items: center;
}
#notice .notice_content .notice_items .user .user_content .date span{ 
    font-size: 30rem;
    color: #333333;
}
#notice .notice_content .notice_items1 .user .user_content .date,
#notice .notice_content .notice_items1 .user .user_content .date span{
    color: #999999;
    font-size: 26rem;
    display: inline-flex;
    font-size: 30rem;
    align-items: center;
}



#notice .notice_content .notice_items .user .user_content .date img{ 
width: 16rem;
   margin: 0 25rem 0 21rem;
   height: 42rem;
}
#notice .notice_content .notice_items1 .user .user_content .date img{ 
    width: 10rem;
   margin: 0 20rem 0 14rem;
   height: 25rem;
}
#notice .notice_content .notice_items .user .user_content .date .date_to{
    color:#e14a56;
}
#notice .notice_content .notice_items .user .user_content .date .date_from{
    color:#5e95d4;
}
#notice .notice_content .notice_items .user .user_content .date_state{ 
    font-size: 26rem !important;
    color:#555555;
    margin-left: 12rem;
}

#notice .notice_content .notice_items .user .user_content .hours{
    padding-top: 15rem;
    color: #999999;
    font-size: 32rem;
}
#notice .notice_content .notice_items1 .user .user_content .hours,
    #notice .notice_content .notice_items3 .user .user_content .hours{
    color: #333333;
    font-size: 44rem;
}


#notice .notice_content .notice_items .user .user_content .inner{
    padding-top: 22rem;
    color: #999999;
    font-size: 32rem;
    display: inline-flex;
    align-items: center;
    padding-left: 230rem;
    float: right;
}
#notice .notice_content .notice_items .user .user_content .inner .follow,
#notice .notice_content .notice_items .user .user_content .inner .like{
    padding-right: 48rem;
}
#notice .notice_content .notice_items .user .user_content .inner img{
    width: 48rem;
    height: 48rem;
    margin-right: 18rem;
}
#notice .notice_content .notice_items .user .user_content .inner .share img{
    margin-right: 0rem;
}
#notice .notice_content .notice_items3 .user .date_houser{
    padding-left: 28rem;
    border-left: 4rem solid #28cbd5;
    margin-top: 20rem;
}
#notice .notice_content .notice_items3 .user .date_houser .d_title{
    padding-top: 0;
    font-size: 30rem;
    color:#555555;
}
#notice .notice_content .notice_items3 .user .date_houser .date{
    /* padding-top: 0; */
}
