.search-top {
    margin: 4rem 0 5rem 0;
}

#search-page .search-header {
    height: 9rem;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
}

#search-page .search-header .cancel {
    width: 20rem;
    font-size: 2.6rem;
    color: #4392e3;
}

#search-page .search-header .cancel img {
    width: 3rem;
    height: 3rem;
}

#search-page .container-fluid {
    padding-right: 4rem;
    padding-left: 4rem;
}

#search-page .from-to .control-label {
    padding-right: 4rem;
    font-size: 2.6rem;
    color: #444444;
    padding-top: 1.5rem;
    font-weight: 300;
    padding-left: 1.5rem;
}

#search-page .from-to .text-feild {
    padding-right: 0;
}

#search-page .from-to .form-control-feedback {
    right: 1.5rem;
    top: 1.5rem;
}

#search-page .from-to .form-control-feedback img {
    width: 2rem;
    height: 2rem;
}

#search-page .form-control-start {
    position: absolute;
    left: 4rem;
    z-index: 2;
    display: block;
    width: 3.4rem;
    height: 3.4rem;
    line-height: 3.4rem;
    text-align: center;
    pointer-events: none;
    top: 1.5rem;
}

#search-page .form-control-start img {
    width: 3.4rem;
    height: 3.4rem;
}

#search-page .from-to .form-control-start img {
    width: 3.4rem;
    height: 3.4rem;
}

#search-page .from-to .form-control-start {
    top: 1rem;
}

/* #search-page .from-to .form-control-start img{
    width: 4rem;
} */
#search-page .form-control-feedback {
    right: 2rem;
    width: 3.4rem;
    top: 0.3rem;
    height: 3.4rem;
    line-height: 3.4rem;
}

#search-page .form-control-feedback img {
    width: 3.4rem;
    height: 3.4rem;
}

#search-page .form-control {
    height: 6.4rem;
    border-radius: 5rem;
    padding: 0 10rem;
    font-size: 2.8rem;
    color: #444444;
    background-color: #eaeaea;
}

#search-page .from-to .form-control {
    padding: 0 1rem 0 9rem;
}


#search-page .form-group {
    font-size: 2.4rem;
    color: #444444
}

#search-page .tab {
    padding-top: 6rem;
}

#search-page .nav-tabs > li > a {
    font-size: 2.5rem;
    color: #999999;
}

#search-page .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #444444;
    border: none;
    border-bottom: 0.4rem solid #28cbd5;
}

#search-page .nav-tabs > li {
    width: 25%;
    text-align: center;
}

#search-page .nav-tabs > li a {
    padding-left: 0;
    padding-right: 0;
}

/* ------------------------------------------ */
#search-page .search_top {
    padding: 2rem 0 4rem 0;
}

#search-page .search_top .cap {
    border-top: 0.1rem solid #d3d3d3;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    position: relative;
    height: 7rem;
    background-color: #fcfcfc;
    border-bottom: 0.1rem solid #f3f3f3;
}

#search-page .search_top .cap .title {
    font-size: 3rem;
    color: #999999;
    font-weight: 500;
}

#search-page .search_top .cap img {
    position: absolute;
    right: 4rem;
    width: 3rem;
    height: 3rem;
}

#search-page .search_top .history {
    padding: 0 4rem;
}

#search-page .search_top .history .history_items {
    padding: 2.5rem 0;
    color: #555555;
    font-size: 3rem;
}

#search-page .search_top .history .history_items img {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 3rem;
}

#search-page .shcedule_numbeer {
    font-size: 4.4rem;
    color: #555555;
    padding: 4rem 0 0 3.1rem;
}

#search-page .shcedule_numbeer span {
    font-size: 2.5rem;
}

#search-page .location {
    padding: 2rem 4rem 2rem 4rem;
    text-align: center;
}

#search-page .location span {
    margin-left: 2rem;
    color: #555555;
    font-size: 2.6rem;
    vertical-align: middle;
}

#search-page .location .location-ic {
    width: 4.7rem;
    height: 4.8rem;
}

#search-page .location {
    text-align: center;
    width: 100%;
    height: 6.5rem;
    padding: 0;
    margin-top: -2.5rem;
}