.rec-user {
  padding-left: 4rem;
  min-height: 45rem;
}

.rec-user .cap-rec-user {
  height: 10rem;
  display: flex;
  align-items: center;
  font-size: 3rem;
  padding-right: 2rem;
  color: #999999;
}

.rec-user .cap-rec-user div:first-child {
  flex: 1;
}

.card-user {
  height: 28rem;
  width: 24rem;
  border: 0.1rem solid #d3d3d3;
  text-align: center;
  padding-top: 2rem;
  margin-right: 3rem;
}

.card-user .name {
  font-size: 3rem;
  color: #444444;
  padding-top: 2rem;
}

.card-user .nick-name {
  font-size: 2.4rem;
  color: #bbbbbb;
}
.card-user .nick-name img{
  width: 8.3rem;
  height: 2.6rem;
}

.rec-user .user-avatar {
  width: 15.2rem;
  height: 15rem;
  border-radius: 50%;
}

.cap-rec-user{
  position: relative;
}

.rec-user .cap-rec-user .loadMore{
  position: absolute;
  right: 2rem;
}

.rec-user .cap-rec-user .loadMore img{
  width: 2.4rem;
  height: 2.8rem;
  margin-top: -0.9rem;
  margin-left: 1rem;
}